# Core Django
setuptools
Django==5.1.7
djangorestframework==3.15.2
python-dotenv==1.1.0
django-cors-headers==4.7.0
# Database
psycopg2-binary==2.9.10
dj-database-url==3.1.0
# Authentication & Security
django-otp==1.5.4
django-otp-totp==1.0.0
qrcode==8.0
django-csp==3.8
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
django-filter==25.1
# Utilities
requests==2.32.4
Pillow==11.2.1
# Production Server
gunicorn==20.1.0
# Real-time / Async (Channels, Celery if used)
channels==4.2.0
channels-redis==4.2.1
redis>=4.6.0
daphne==4.1.0
